*{
    margin: 0;
}

.verificar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: aliceblue;
    gap: 10px;
}
h2{
    font-size: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    background-color: brown;
    color: aliceblue;
    height: 350px;
    width: 250px;
    border-radius: 10px;
}
.formulario h2{
    font-size: 20px;
}

.formulario input{
    border: none;
    padding: 10px;
    border-radius: 10px;
}